
<link rel="stylesheet" href="/css/home.css">


<div id="container">

    <section id="posts">
        <!-- Create new Post -->
        <% if(locals.user){ %>
            <section id="feed-posts">
                <h3>Create a new Post</h3>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type here..." required></textarea>
                    <input type="submit" value="Post">
                </form>
            </section>
        <% } else{ %>
            <section id="feed-posts">
                <a href="/users/sign-in">Please login to post</a>
            </section>
        <% } %>


        <!-- Show All Posts -->
        <div id="all-posts">
            <% for(let post of posts){ %>
                <!-- To make the variables accesible in diffrent files,
                we need to send them while including the partial -->
                <%- include('_post',{post : post}) -%>
                
            <% } %>
        </div>
    </section>
        
    <!-- Show all Users -->
    <% if(locals.user) {%>
        <section id="friends">
            <h3>Users</h3>
            <% for(let user of all_users) { %>
                <p>
                    <a href="/users/profile/<%= user.id %>">
                        <%= user.name %>
                    </a>
                </p>
            <% } %>
        </section>
    <% } %>

</div>

<script src="/js/home_posts.js"></script>